 body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
} h1{
    font-family: "bd-console-variable", sans-serif;
    font-variation-settings: "GAME" 100;
    font-size: 4em;
    color: white;
} .typewriter {
    position: relative;
}.typewriter::after {
    content: "|";
    position: absolute;
    right: 0;
    color: white;
    background-color: black;
    width: 100%;
    animation: Typing 4s steps(15) alternate infinite;
} @keyframes Typing{
    to {
        width: 0%;
    }
}.a {
    display: flex;
    text-align: center;
    margin: auto;
}.Yes {
        border: none;
        text-decoration: none;
        background-color: transparent;
        padding: 14px 28px;
        font-size: 3em;
        cursor: pointer;
        display: inline-block;
        color: white;
        font-family: "bd-console-variable", sans-serif;
        font-variation-settings: "GAME" 100;
} .No {
        border: none;
        text-decoration: none;
        background-color: transparent;
        color: white;
        padding: 14px 28px;
        font-size: 3em;
        cursor: pointer;
        display: inline-block;
        font-family: "bd-console-variable", sans-serif;
        font-variation-settings: "GAME" 100;
}.Yes:hover {
    color: green;
}.No:hover {
    color: red;
}
